body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

$color_purple_header: #6200E8;
$color_lime_card: #D4FFC9;
$color_gray_info: #666666;
$color_gray_text: #BABABA;
$color_dark_input: #363636;
$color_green_accept: #609C30;
$color_green_cancel: #AF6767;
$color_blue_calendar: #0061F3;
$color_gray_calendar: #CCC;
$color_dark_gray_calendar: #636363;
$color_lime_calendar: #C8FF9C;


.buttons {
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;

    font-size: 20px;
    line-height: 24px;
}

.main_text {
    font-size: 60px;
    text-align: center;
    margin: 80px 0;
}

.Toastify__toast-container {
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    width:800px !important;
    top: 100px !important;
}

.toast > div {
    border-radius: 50px;
    background-color: #f60505;
    color: white;
    font-size: 50px;
    padding: 40px;
    text-align: center;
}

.Toastify__close-button {
    display: none;
}